:root {
  --main-text: #000000;
  --main-bg-color: #b90748;
}

* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: var(--main-text);
}

.App {
  display: flex;
  width: 80%;
  height: 90vh;
  margin: auto;
  flex-direction: column;
}

h1 {
  align-self: center;
  font-size: 2rem;
  text-decoration: underline;
}

h5 {
  align-self: center;
  text-align: center;
  width: 50%;
  padding: 0;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.formLabels {
  align-self: center;
}

.label {
  align-self: center;
  margin-top: 20px;
}

.formLabels,
.submitButton {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #737a80;
  background-color: #ffffff;
  box-shadow: 3px 3px #000000;
}

.formLabels:hover,
.submitButton:hover {
  background: rgba(185, 7, 72, 0.8);
  color: #ffffff;
}

.errorMessage {
  color: #b90748;
  font-size: larger;
  align-self: center;
  visibility: hidden;
  padding: 0;
  margin: 0 0 20px;
}

.errorMessage.error {
  visibility: unset;
}

.fileLink {
  color: #b90748;
}

input[type="file"] {
  display: none;
}
